


.post {

  margin-bottom: 2rem;

  .imageContainer {
    width: 100%;
    height: 400px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -moz-box-shadow: inset 0 0 60px 5px #000000;
    -webkit-box-shadow: inset 0 0 60px 5px #000000;
    box-shadow: inset 0 0 60px 5px #000000;

    img {
      flex: 1;
    }
  }

  .title {
    color: var(--white);
    font-size: 3rem;
    font-weight: 700;

    margin-top: 5rem;
    word-wrap: break-word;
  }

  .postInfo {
    margin-top: 1.5rem;
    color: var(--gray-150);
    font-size: 0.875rem;

    ul {
      list-style: none;
      display: flex;

      align-items: center;

      li {
        display: flex;
        align-items: center;
        justify-content: center;


        & + li {
          margin-left: 1.5rem;
        }

        svg {
          margin-right: 0.5rem;
        }

        &:last-child {
          font-size: 1rem;
        }
      }
    }

    & > { span {
      display: inline-block;
      margin-top: 0.875rem;
      font-style: italic;
    }}
  }

  main {
    margin-top: 4rem;
    color: var(--white-200);
    line-height: 1.575rem;

    h1 {
      font-size: 2.25rem;
      font-weight: 700;
      margin-bottom: 4rem;
      line-height: 2.5rem;
    }

    & > {
      div:last-child {
        margin-top: 4rem;
      }
    }

    p {

      text-indent: 1rem;

      & + p {
        margin-top: 1.575rem;
      }

      img {
        width: 100%;
      }
    }

  }
} // .post

.sectionPrevNext {
  margin-top: 4rem;
  border-top: 1px solid var(--gray-850);

  .containerPrevNext {
    margin: 4rem 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;

    a {
      max-width: 45%;
      color: var(--white-200);
      font-size: 1.125rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transition: filter 0.2s;

      &:nth-child(1) {
        text-align: left;
      }

      &:nth-child(2) {
        text-align: right;
      }

      span {
        & + span {
          margin-top: 0.5rem;
          color: var(--pink-500);
          font-weight: 600;
          font-size: 1rem;
        }
      }

      &:hover {
        filter: brightness(0.8);
      }
    }


  }
}
